In [2]:
import pandas as pd
import re
import emoji

In [3]:
# import os
# os.getcwd()

In [4]:
df_twitter = pd.read_csv("Data/Final_Dataset_twitter.csv")
df_twitter.drop(df_twitter.columns[1], axis=1, inplace=True)

In [5]:
df_twitter.head()

                                            Comments
0   That's how we roll😎 . . . . . . . . #cinemadd...
1                                       😂😂😂 #Sarcasm
2   At my bro Barbara school . I'm only one can i...
3   And I don’t know why people get hurt 😄 #sarca...
4   Yay. I see a #cold in my near #future 😂 #joke...

In [6]:
# Function to extract emojis from a sentence
def extract_emojis(text):
    emojis = [d['emoji'] for d in emoji.emoji_list(text)]
    return ' '.join(emojis)

# Apply the function to create a new column for emojis
df_twitter['Emojis'] = df_twitter['Comments'].apply(extract_emojis)

# Remove emojis from sentences
df_twitter['Text'] = df_twitter['Comments'].apply(lambda x: emoji.replace_emoji(x, replace=''))

In [7]:
df_twitter.describe()

,Comments,Emojis,Text
count,16859,16859,16859
unique,16859,2789,16643
top,i wish i can go to wief 😕,😂,#Funny #memes #Jokes #puns #Sarcasm #lol https
freq,1,3112,48

In [8]:
df_facebook = pd.read_csv("Data/Final_Dataset_Facebook.csv")
df_facebook.drop(df_facebook.columns[1], axis=1, inplace=True)

In [9]:
df_facebook.head()

                                            Comments
0  Sorry No Comments ..I came here to read commen...
1  Hi guys. I'm so happy and proud of myself and ...
2                     Hahahaha your intelligence 😜😜😜
3         Aqsa Naveed we were proud backbenchers 😜😜😂
4    Hemant extraordinary sketcher😝..right Ujjawal??

In [10]:
# Function to extract emojis from a sentence
def extract_emojis(text):
    emojis = [d['emoji'] for d in emoji.emoji_list(text)]
    return ' '.join(emojis)

# Apply the function to create a new column for emojis
df_facebook['Emojis'] = df_facebook['Comments'].apply(extract_emojis)

# Remove emojis from sentences
df_facebook['Text'] = df_facebook['Comments'].apply(lambda x: emoji.replace_emoji(x, replace=''))

In [11]:
df_facebook.head()

,Comments,Emojis,Text
0,Sorry No Comments ..I came here to read commen...,😜,Sorry No Comments ..I came here to read commen...
1,Hi guys. I'm so happy and proud of myself and ...,😝 😝,Hi guys. I'm so happy and proud of myself and ...
2,Hahahaha your intelligence 😜😜😜,😜 😜 😜,Hahahaha your intelligence
3,Aqsa Naveed we were proud backbenchers 😜😜😂,😜 😜 😂,Aqsa Naveed we were proud backbenchers
4,Hemant extraordinary sketcher😝..right Ujjawal??,😝,Hemant extraordinary sketcher..right Ujjawal??

In [12]:
# Count the number of null values in all columns
null_counts = df_twitter.isnull().sum()

# Display the counts
print("Number of null values in each column:")
print(null_counts)

Number of null values in each column:
Comments    0
Emojis      0
Text        0
dtype: int64

In [13]:
twitter_label = pd.read_csv("Data/Final_Dataset_Twitter_Labels.csv")
df_twitter['Sarcasm'] = twitter_label['Comments']

facebook_label = pd.read_csv("Data/Final_Dataset_Facebook_Labels.csv")
df_facebook['Sarcasm'] = facebook_label['Comments']

In [14]:
df_facebook.head()
df_twitter.head()

,Comments,Emojis,Text,Sarcasm
0,That's how we roll😎 . . . . . . . . #cinemadd...,😎,That's how we roll . . . . . . . . #cinemaddi...,1
1,😂😂😂 #Sarcasm,😂 😂 😂,#Sarcasm,1
2,At my bro Barbara school . I'm only one can i...,😂 😂 😂 😂 😂 😂 😂,At my bro Barbara school . I'm only one can i...,1
3,And I don’t know why people get hurt 😄 #sarca...,😄,And I don’t know why people get hurt #sarcas...,1
4,Yay. I see a #cold in my near #future 😂 #joke...,😂,Yay. I see a #cold in my near #future #jokes...,1

In [15]:
# Concatenate the DataFrames along the rows axis (vertically)
final_df = pd.concat([df_twitter, df_facebook], ignore_index=True)

# Save the joined DataFrame to a CSV file
final_df.to_csv('Data/Dataset.csv', index=False)

In [16]:
# Function to add space after every alphanumeric sequence
def add_space_after_alphanumeric(text):
    return re.sub(r'(\w+)', r'\1 ', text)

# Apply the function to the 'Comments' column
final_df['Comments'] = final_df['Comments'].apply(add_space_after_alphanumeric)

In [17]:
final_df.head()

,Comments,Emojis,Text,Sarcasm
0,That 's how we roll 😎 . . . . . . . . #cin...,😎,That's how we roll . . . . . . . . #cinemaddi...,1
1,😂😂😂 #Sarcasm,😂 😂 😂,#Sarcasm,1
2,At my bro Barbara school . I 'm only o...,😂 😂 😂 😂 😂 😂 😂,At my bro Barbara school . I'm only one can i...,1
3,And I don ’t know why people get hurt ...,😄,And I don’t know why people get hurt #sarcas...,1
4,Yay . I see a #cold in my near #future...,😂,Yay. I see a #cold in my near #future #jokes...,1